/* regole principali */
 * { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    
    
    /* Header */
 }
 header {
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
    

       
}

#title {display: inline-block;
    font-size: 50px;
    line-height: 60px ;
    vertical-align: middle
    ;
    
        

}

#logo {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    
}

/* body */
body {background-color: #F6F8F9;}

#main-part {
    
    background-color: white;
    height: 100%;
    width: auto;
    margin: 5% 20%;
    border-radius: 10px;
    padding-bottom: 5%;

}
 /* Parte sotto l'header */
#button-menu {
    padding-left: 40px;
    padding-top: 20px;
    border-bottom: #F6F8F9 solid 2px;
    margin-bottom: 5px;
}
#button1 {
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #47ADF1;
    height: 35px;
    width: 80px;
    border-radius: 10%;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #47ADF1;
}

#button2 {
    margin-bottom: 5px;
    margin-right: 5px;
    background-color:white;
    height: 35px;
    width: 90px;
    border-radius: 10%;
    color: #E7E9EC;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #E7E9EC;
 /* struttura del div principale */
}
#main-section {
    padding-left: 40px;
    padding-top: 20px;
}

.tp-title {
    font-size: 25px;
    font-weight:bolder;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
   
}

.simble {
    display:inline-block;
    padding-bottom: 10px;
    height: 3px;
    width: 9px;
}

.simblev { padding-right: 5px;
    color: green;
    font-weight: 600;
    border: green solid 1px;
    border-radius: 50%;
    width: 15px;
    padding-left: 5px;
    margin-right: 10px;
   
}

.description {
    display:block; 
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    margin-right: 8px;

}


.sm-tit{
    margin-bottom: 10px;
}
.sm-tit1 {
    margin-bottom: 30px;
}

.editorial {
    display:inline-block;
    background-color: #47ADF1  ;
    width: 80px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    margin-left: 10px;
    
}

.q1goals {
    display:inline-block;
    background-color: #9C72E4  ;
    width: 80px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    margin-left: 10px;

}

.simblex {padding-right: 5px;
    color: red;
    font-weight: 600;
    border: red 1px solid;
    border-radius: 50%;
    width: 15px;
    padding-left: 5px;
    margin-right: 10px;

}

.recruiting {
    display:inline-block;
    background-color:#64C0A9  ;
    width: 80px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    margin-left: 10px;

}

.mobile {
    display:inline-block;
    background-color:#F29E33 ;
    width: 80px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    margin-left: 10px;

}

.website {
    display:inline-block;
    background-color:#D863A0 ;
    width: 80px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    margin-left: 10px;

}

.sales {
    display:inline-block;
    background-color:#B0C926 ;
    width: 80px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    margin-left: 10px;

}